<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- Configure the session factory for our application -->
    <session-factory>
        <!-- Database connection properties: drivers, URL, username, and password -->
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@revature.c0v8ucyzoqr7.us-east-2.rds.amazonaws.com:1521:ORCL</property>
        <property name="connection.username">rev_app</property>
        <property name="connection.password">password</property>
        <!-- JDBC connection pool size -->
        <property name="connection.pool.size">1</property>
        <!-- Select SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- (Option) Print any executed SQL to the console -->
        <property name="show_sql">true</property>
        <!-- (Optional) Turn on Hibernate Mapping to DDL Possible values: -create
            (drop existing tables then recreate them) -validate (validates that the existing
            tables match our mapping) -update (check for existing tables, if they do
            not exist, it will create them) -create (creates the table, allows for ops
            to be performed and drops the tables when the app shuts down) -->
        <property name="hbm2ddl.auto">update</property>
        <!-- Incluse any persistence file here -->
        
        <!--  Mapping annotated classes
        <mapping class="com.revature.models.Students"/>
        -->
        
    </session-factory>
</hibernate-configuration>
